{% extends 'school/home.html' %}

{% block content %}
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Manage Invoices</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item active">Manage Invoices</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Invoices Table</h3>

        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
            {% if invoices %}
                <table class="table table-hover text-nowrap">
                    <thead>
                    <tr>
                        <th>Academic Year</th>
                        <th>Year of Study</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for invoice in invoices %}
                    <tr>
                        <td>{{invoice.acad_year}}</td>
                        <td>{{invoice.study_year}}</td>
                        td>{{invoice.Amount}}</td>
                        <td>
                            <a href="edit_unit/{{ unit.id }}" class="btn btn-primary">
                              <i class="nav-icon fas fa-edit"></i>
                            </a>
                            <a href="delete_unit/{{ unit.id }}" class="btn btn-danger">
                              <i class="nav-icon fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <strong>No Invoice records found</strong>
            </div>
            {% endif %}
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
{% endblock %}